/*------------------------------------*\
  # Page Tow - Component Main
\*------------------------------------*/

.o-grid-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}