/*------------------------------------*\
  # Component - Member
\*------------------------------------*/

.m-member {
  max-width: 400px;
  text-align: center;

  img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    object-position: 100% 0;
  }
}