/*------------------------------------*\
  # Component - Member
\*------------------------------------*/

.m-member {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis:auto;
  // width: 30%;
  max-width: 400px;
  text-align: center;

  img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    object-position: 100% 0;
  }
}