/*------------------------------------*\
  # Component - Member
\*------------------------------------*/

.m-member {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  margin-top: 1em;
  max-width: 400px;
  text-align: center;

  img {
    max-height: 400px;
    object-fit: cover;
    object-position: 100% 0;
  }
}