<footer class="o-footer {{ subclass }} mt-auto pt-5">
  <hr class="w-75 mx-auto">
  <div class="row">
    <div class="col-2 d-flex align-items-center justify-content-end"><img class="me-5" src="assets/images/logo.svg"
        alt="I Love Chess - Logo"></div>
    <div class="col-8 d-flex flex-column">
      <div class="row">
        <ul class="col nav justify-content-evenly">
          <li class="nav-item"><a href="index.html" class="nav-link">Front Page</a></li>
          <li class="nav-item"><a href="two.html" class="nav-link">Club Members</a></li>
          <li class="nav-item"><a href="three.html" class="nav-link">Club Information</a></li>
          <li class="nav-item"><a class="nav-link" href="carousel.html">Photo Gallery</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="book.html">Book a Game</a>
          </li>
          <li class="nav-item"><a href="play.html" class="nav-link">Play a Game</a></li>
        </ul>
      </div>
    </div>
    <div class="col-2 d-flex align-items-center">
      <ul class="o-footer__social nav">
        <li class="nav-item">
          <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-google-plus-g"></i></a>
        </li>
        <li class="nav-item"><a href="#" target="_blank" rel="noopener noreferrer"><i
              class="fa-brands fa-facebook-f"></i></a></li>
        <li class="nav-item"><a href="#" target="_blank" rel="noopener noreferrer"><i
              class="fa-brands fa-twitter"></i></a></li>
        <li class="nav-item"><a href="#" target="_blank" rel="noopener noreferrer"><i
              class="fa-brands fa-github"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="o-footer__copy d-flex align-items-end justify-content-between px-5 mt-2">
    <img src="assets/images/uoc_masterbrand_2linies_blanc.png" width="300" alt="Logo">
    <p>&copy; 2023 - Francisco Miguel Biete Bañón</p>
  </div>
</footer>