<footer class="o-footer">
  <p>This is the footer. Should it include contact information?</p>
  <div class="d-flex flex-wrap justify-content-between align-item-center border-top border-bottom">
    <div>Logo</div>
    <ul class="nav justify-content-center pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Front Page</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Page Two</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Page Three</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Page Four</a></li>
    </ul>
    <ul class="nav">
      <li class="nav-item"><i class="fa-brands fa-google-plus-g"></i></li>
      <li class="nav-item"><i class="fa-brands fa-facebook-f"></i></li>
      <li class="nav-item"><i class="fa-brands fa-twitter"></i></li>
      <li class="nav-item"><i class="fa-brands fa-github"></i></li>
    </ul>
  </div>
  <div class="o-footer__copy d-flex align-items-end">
    <img src="assets/images/logo.png" width="300" alt="Logo">
    <p>&copy; 2023 - Francisco Miguel Biete Ba&ntilde;&oacute;n</p>
  </div>
</footer>