ol {
  list-style-type: none;
  padding: 0;
  counter-reset: item-li;

  li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;

    /* Custom element number */
    &:before {
      content: counter(item-li);
      counter-increment: item-li;
      position: absolute;
      left: -1.3em;
      height: 2em;
      width: 2em;
      line-height: 2em;
      border: 1 solid $uoc-masterbrand;
      text-align: center;
      border-radius: 2em;
    }
  }
}

article {
  max-width: 1000px;
  margin: auto;
}